<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Comparação de Eleições</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1">     
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>html,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}</style>
        <link rel="stylesheet" href="/css/main.css">
  </head>
  <body class="w3-light-grey">
     <%- include('./header') %>
        <%- include('./navbar') %>
         <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">
             <header class="w3-container" style="padding-top:22px">
                <h3><b>Compare <%= chartData[0].categoria %> nas Eleições:</b></h3>
            </header>
            <div class="w3-container">
                <div class="charts">
                    <% chartData.forEach((category, index) => { %>
                        <div class="chart">
                        <h5><b><%= `${category.eleicao}` %></b></h5>                                            
                        <canvas id="<%= `${category.id}${index}` %>Chart" width="300" height="80"></canvas>
                        </div>
                    <% }) %>
                        <script>
                            <% chartData.forEach((category, index) => { %>
                                const ctx<%=index%> = document.getElementById('<%= `${category.id}${index}` %>Chart').getContext('2d');                        
                                const labels<%= index %> = <%- JSON.stringify(category.labels) %>;                        
                                const data<%= index %> = <%- JSON.stringify(category.data) %>;
                                <% if(category.id != "partido" ) {%>
                                    new Chart(ctx<%= index %>, {
                                        type: 'bar',
                                        data: {
                                            labels: labels<%= index %>,
                                            datasets: [{
                                            label: "Quantidade",
                                            data: data<%= index %>,
                                            backgroundColor: 'rgba(33, 150, 243)',
                                            borderColor: 'rgba(75, 192, 192, 1)',
                                            borderWidth: 1
                                            }]
                                        },
                                        options: {
                                                plugins: {
                                                    legend: {
                                                        position: "bottom", // Mova a legenda para a parte inferior
                                                        display: false,
                                                    },
                                                    title: {
                                                        display: true,
                                                        text:"<%=`${category.regiao}` %>"
                                                    },
                                                },                                                                                            
                                        }   
                                    });
                                <% } else { %> 
                                        const numBars<%= index %> = data<%= index %>.length;
                                        const backgroundColors<%= index %> = generateSequentialColors(numBars<%= index %>);
                                    
                                        new Chart(ctx<%= index %>, {
                                            type: 'doughnut',
                                            data: {
                                                labels: labels<%= index %>,
                                                datasets: [{
                                                    label: "Quantidade",
                                                    data: data<%= index %>,
                                                    backgroundColor: backgroundColors<%= index %>,
                                                    borderColor: 'rgb(180, 180, 180)',
                                                    borderWidth: 1,
                                                    cutout: '35%',
                                                    circumference: 180,
                                                    rotation: 270,
                                                    aspectRaio: 1,
                                                    radius: '70%',
                                                    //weight: '90%'
                                                }]
                                            },
                                            options: {
                                                plugins: {
                                                    legend: {
                                                        position: 'bottom', // Mova a legenda para a parte inferior                                                        
                                                    },
                                                    title: {
                                                        display: true,
                                                        text:"<%=`${category.regiao}` %>"
                                                    },
                                                },                                            
                                                maintainAspectRatio: true,
                                                aspectRatio: 2,
                                            }                                        
                                        });

                                    <% }; %> 
                            <% }); %>

                            function generateSequentialColors(num) {
                            const predefinedColors = [
                                'rgba(33, 150, 243, 0.6)',    // Azul
                                'rgba(192, 192, 192, 0.6)',   // Cinza
                                'rgba(128, 128, 128, 0.6)',   // Cinza
                                'rgba(220, 220, 220, 0.6)',   // Cinza
                                'rgba(255, 0, 0, 0.6)',      // Vermelho
                                'rgba(255, 165, 0, 0.6)',    // Laranja
                                'rgba(0, 255, 0, 0.6)',      // Verde
                                'rgba(0, 0, 255, 0.6)',      // Azul
                                'rgba(0, 128, 128, 0.6)',    // Verde-azulado
                                'rgba(255, 0, 255, 0.6)',    // Magenta
                                'rgba(0, 128, 0, 0.6)',      // Verde escuro
                                'rgba(64, 0, 128, 0.6)',     // Roxo escuro
                                'rgba(128, 0, 64, 0.6)',     // Vermelho mais escuro
                                'rgba(128, 128, 0, 0.6)',    // Verde-oliva
                                'rgba(64, 128, 128, 0.6)',   // Azul mais escuro
                                'rgba(192, 0, 192, 0.6)',    // Roxo mais escuro
                                'rgba(192, 192, 0, 0.6)',    // Amarelo-oliva
                                'rgba(128, 0, 0, 0.6)',      // Vermelho mais escuro
                                'rgba(128, 128, 192, 0.6)',  // Azul mais claro
                                'rgba(0, 192, 192, 0.6)'     // Verde mais claro
                            ];

                            const colors = [];
                            for (let i = 0; i < num; i++) {
                                const index = i % predefinedColors.length; // Loop através das cores
                                const selectedColor = predefinedColors[index];
                                colors.push(selectedColor);
                            }
                            return colors;
                        }
                    </script>
                     
                </div>
                <button class="w3-button w3-dark-grey" onclick="voltar()"><i class="fa fa-arrow-left"></i> Voltar</button>
                <%- include('./footer') %>
            </div>
  </body>

  <script>
    function voltar() {
        //ta caindo no loader o voltar
        window.location.href = "/noauth/views/compare-regions";
    }
</script>
</html>
