<!DOCTYPE html>
<html>

    <head>
        <title>Compare Eleições</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <style>html,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}</style>
    </head>

    <body class="w3-light-grey">
        <%- include('./header') %>
        <%- include('./navbar') %>
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">
             <header class="w3-container" style="padding-top:22px">
                <h5><b>Compare Eleições:</b></h5>
            </header>
            <div class="w3-container">
                <div class="loader-container" id="loader-container">
                    <div class="loader" id="loader"></div>
                    <p>Carregando...</p>
                    <p>Isto pode levar alguns minutos.</p>
                </div>
                <form action="/noauth/candidate-election/compare-elections" method="post">
                    <h6><b>Eleição 1:</b></h6>
                    <label for="eleicao1[eleicao]">Selecione a Eleição 1:</label>
                    <select id="eleicao1[eleicao]" name="eleicao1[eleicao]" required>
                        <option selected>Selecione a Eleição...</option>
                        <% eleicoes.forEach(function(row) { %>
                        <option value="<%= row.id %>"><%= `${row.ano_eleicao} - ${row.turno} Turno`   %></option>                        
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <label for="eleicao1[abrangencia]">Abrangência:</label>
                    <select id="eleicao1[abrangencia]" name="eleicao1[abrangencia]">
                        <option selected>Selecione a Abrangência...</option>
                        <% abrangencias.forEach(function(row) { %>
                        <option value="<%= row.abrangencia %>"><%= row.abrangencia %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <label for="eleicao1[regiao]">Região:</label>
                    <select id="eleicao1[regiao]" name="eleicao1[regiao]">
                        <option selected>Selecione a Abrangência primeiro...</option>
                    </select>
                    <br>
                    <br>
                    <label for="eleicao1[situacao_turno]">Situação Turno:</label>
                    <select id="eleicao1[situacao_turno]" name="eleicao1[situacao_turno]">
                        <option selected>Selecione a Situação do Turno...</option>
                        <option value="todos">Todas</option>
                        <option value="todosEleitos">Candidatos Eleitos por qualquer tipo</option>
                        <% situacoes_turno.forEach(function(row) { %>
                        <option value="<%= row.id %>"><%= row.nome %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <label for="eleicao1[cargo]">Cargo:</label>
                    <select id="eleicao1[cargo]" name="eleicao1[cargo]">
                        <option selected>Selecione o Cargo...</option>
                        <option value="todos">Todos os cargos</option>                        
                        <% cargos.forEach(function(row) { %>
                        <option value="<%= row.id %>"><%= row.nome_cargo %></option>
                        <% }); %>
                    </select>                    
                    <br>  
                    <br> 

                    <h6><b>Eleição 2:</b></h6>
                    <label for="eleicao2[eleicao]">Seleciona a eleição 2:</label>
                    <select id="eleicao2[eleicao]" name="eleicao2[eleicao]" required>
                        <option selected>Selecione a Eleição...</option>
                        <% eleicoes.forEach(function(row) { %>
                        <option value="<%= row.id %>"><%= `${row.ano_eleicao} - ${row.turno} Turno`   %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <label for="eleicao2[abrangencia]">Abrangência:</label>
                    <select id="eleicao2[abrangencia]" name="eleicao2[abrangencia]">
                        <option selected>Selecione a Abrangência...</option>
                        <% abrangencias.forEach(function(row) { %>
                        <option value="<%= row.abrangencia %>"><%= row.abrangencia %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <label for="eleicao2[regiao]">Região:</label>
                    <select id="eleicao2[regiao]" name="eleicao2[regiao]">
                        <option selected>Selecione a Abrangência primeiro...</option>
                    </select>
                    <br>
                    <br>
                    <label for="eleicao2[situacao_turno]">Situação Turno:</label>
                    <select id="eleicao2[situacao_turno]" name="eleicao2[situacao_turno]">
                        <option selected>Selecione a Situação do Turno...</option>
                        <option value="todos">Todas</option>
                        <option value="todosEleitos">Candidatos Eleitos por qualquer tipo</option>
                        <% situacoes_turno.forEach(function(row) { %>
                        <option value="<%= row.id %>"><%= row.nome %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <label for="eleicao2[cargo]">Cargo:</label>
                    <select id="eleicao2[cargo]" name="eleicao2[cargo]">
                        <option selected>Selecione o Cargo...</option>
                        <option value="todos">Todos os cargos</option>                        
                        <% cargos.forEach(function(row) { %>
                        <option value="<%= row.id %>"><%= row.nome_cargo %></option>
                        <% }); %>
                    </select>                    
                    <br>  
                    <br>
                    <h6><b>Selecione a variável para comparação:</b></h6>                    
                    <select id="variavel" name="variavel">
                        <option selected>Selecione a variável...</option>
                        <option value="genero">Gênero</option>   
                        <option value="idade">Idade</option>
                        <option value="partido">Partido</option>
                        <option value="ocupacao">Ocupação</option>
                        <option value="grau_instrucao">Grau de Instrução</option>                     
                        <option value="reeleito">Reeleição</option>
                        <option value="raca">Raça</option>
                        
                    </select>  
                    <br>  
                    <br>
                    <button class="w3-button w3-dark-grey" onclick="voltar()"><i class="fa fa-arrow-left"></i> Voltar</button>
                    <button type="submit" class="w3-button w3-dark-grey">Buscar <i class="fa fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
           
    </body>
    <script>
        const abrangenciaSelect = document.getElementById('eleicao1[abrangencia]');
        const regiaoSelect = document.getElementById('eleicao1[regiao]');

        abrangenciaSelect.addEventListener('change', async function() {
            const abrangencia = abrangenciaSelect.value;

            const response = await fetch(`/noauth/unidade-eleitoral/${abrangencia}`)
            const data = await response.json()
            regiaoSelect.innerHTML = '';
            const noOption = document.createElement('option');            
            noOption.textContent = "Selecione a região"
            regiaoSelect.appendChild(noOption);
            const firstOption = document.createElement('option');
            firstOption.value = "digitarRegiao"
            firstOption.textContent = "Digite a região"
            regiaoSelect.appendChild(firstOption);
            data.data.forEach(regiao => {
            const option = document.createElement('option');
            option.value = regiao.id;
            option.textContent = `${regiao.estado} - ${regiao.nome}`;
            regiaoSelect.appendChild(option);
            });
        });

        const abrangenciaSelect2 = document.getElementById('eleicao2[abrangencia]');
        const regiaoSelect2 = document.getElementById('eleicao2[regiao]');

        abrangenciaSelect2.addEventListener('change', async function() {
            const abrangencia = abrangenciaSelect2.value;

            const response = await fetch(`/noauth/unidade-eleitoral/${abrangencia}`)
            const data = await response.json()
            regiaoSelect2.innerHTML = '';
             const noOption = document.createElement('option');            
            noOption.textContent = "Selecione a região"
            regiaoSelect2.appendChild(noOption);
            const firstOption = document.createElement('option');
            firstOption.value = "digitarRegiao"
            firstOption.textContent = "Digite a região"
            regiaoSelect2.appendChild(firstOption);
            data.data.forEach(regiao => {
            const option = document.createElement('option');
            option.value = regiao.id;
            option.textContent = `${regiao.estado} - ${regiao.nome}`;
            regiaoSelect2.appendChild(option);
            });
        });
        function showLoader() {
            document.getElementById("loader-container").style.display = "flex";
        }        
        function hideLoader() {
            document.getElementById("loader-container").style.display = "none";
        }        
        document.querySelector("form").addEventListener("submit", function () {
            showLoader();
        });
        regiaoSelect.addEventListener("change", function() {            
            const selectedValue = regiaoSelect.value;

            if (selectedValue === "digitarRegiao") {
            // Abrir uma modal ou janela para inserir o texto de pesquisa
            // Após a busca, atualize o select com as opções correspondentes
            // Por exemplo:
                const regiaoDigitada = prompt("Digite a região");
                if (regiaoDigitada !== null) {
                    const textoFiltro = regiaoDigitada.toLowerCase();
                    const novasOpcoes = [];

                    for (let i = 0; i < regiaoSelect.options.length; i++) {
                        const option = regiaoSelect.options[i];
                        const optionTexto = option.textContent.toLowerCase();

                        if (optionTexto.includes(textoFiltro)) {
                            novasOpcoes.push(option.cloneNode(true));
                        }
                    }

                    // Remova todas as opções existentes no select.
                    while (regiaoSelect.firstChild) {
                        regiaoSelect.removeChild(regiaoSelect.firstChild);
                    }

                    // Adicione as novas opções que correspondem ao filtro.
                    novasOpcoes.forEach(function(novaOpcao) {
                        regiaoSelect.appendChild(novaOpcao);
                    });
                }
            }
        });

        
        // Esta é uma função para filtrar as opções com base no texto do option.
        function filtrarOpcoes(textoFiltro) {
        // Converta o texto de filtro para minúsculas para comparação sem distinção entre maiúsculas e minúsculas.
            textoFiltro = textoFiltro.toLowerCase();

            // Percorra todas as opções e verifique se o texto do option contém o texto de filtro.
            for (let i = 0; i < regiaoSelect.options.length; i++) {
                const option = regiaoSelect.options[i];
                const optionTexto = option.textContent.toLowerCase();

                // Verifique se o texto de filtro está contido no texto do option.
                if (optionTexto.includes(textoFiltro)) {
                option.style.display = "block"; // Mostra a opção
                } else {
                option.style.display = "none"; // Oculta a opção
                }
            }
        }

        regiaoSelect2.addEventListener("change", function() {            
            const selectedValue = regiaoSelect2.value;

            if (selectedValue === "digitarRegiao") {
            // Abrir uma modal ou janela para inserir o texto de pesquisa
            // Após a busca, atualize o select com as opções correspondentes
            // Por exemplo:
                const regiaoDigitada = prompt("Digite a região");
                if (regiaoDigitada !== null) {
                    const textoFiltro = regiaoDigitada.toLowerCase();
                    const novasOpcoes = [];

                    for (let i = 0; i < regiaoSelect2.options.length; i++) {
                        const option = regiaoSelect2.options[i];
                        const optionTexto = option.textContent.toLowerCase();

                        if (optionTexto.includes(textoFiltro)) {
                            novasOpcoes.push(option.cloneNode(true));
                        }
                    }

                    // Remova todas as opções existentes no select.
                    while (regiaoSelect2.firstChild) {
                        regiaoSelect2.removeChild(regiaoSelect2.firstChild);
                    }

                    // Adicione as novas opções que correspondem ao filtro.
                    novasOpcoes.forEach(function(novaOpcao) {
                        regiaoSelect2.appendChild(novaOpcao);
                    });
                }
            }
        });

        
        // Esta é uma função para filtrar as opções com base no texto do option.
        function filtrarOpcoes(textoFiltro) {
        // Converta o texto de filtro para minúsculas para comparação sem distinção entre maiúsculas e minúsculas.
            textoFiltro = textoFiltro.toLowerCase();

            // Percorra todas as opções e verifique se o texto do option contém o texto de filtro.
            for (let i = 0; i < regiaoSelect.options.length; i++) {
                const option = regiaoSelect.options[i];
                const optionTexto = option.textContent.toLowerCase();

                // Verifique se o texto de filtro está contido no texto do option.
                if (optionTexto.includes(textoFiltro)) {
                option.style.display = "block"; // Mostra a opção
                } else {
                option.style.display = "none"; // Oculta a opção
                }
            }
        }

        function voltar() {
            window.history.back();
        }
       
    </script>
</html>