<!DOCTYPE html>
<html>

    <head>
        <title>Dashboard Eleições</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <style>html,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}</style>
    </head>

    <body class="w3-light-grey">
        <%- include('./header') %>
        <%- include('./navbar') %>
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">
             <header class="w3-container" style="padding-top:22px">
                <h5><b>Dashboard Eleições:</b></h5>
            </header>
            <div class="w3-container">
                <div class="loader-container" id="loader-container">
                    <div class="loader" id="loader"></div>
                    <p>Carregando...</p>
                    <p>Isto pode levar alguns minutos.</p>
                </div>
                <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-quarter">
                <a href="/noauth/views/search-candidates-form" style="text-decoration: none;">
                    <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="bi bi-person-fill custom-icon"></i></div>
                    <div class="w3-right">
                    <h3><%= candidatos %></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Candidatos</h4>
                </div>
                </a>
                </div>
                <div class="w3-quarter">
               <a href="/noauth/views/party-historic-evolution-form" style="text-decoration: none;">
                 <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="bi bi-share-fill custom-icon"></i></div>
                    <div class="w3-right">
                    <h3><%= partidos %></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Partidos</h4>
                </div>
               </a>
                </div>
                <div class="w3-quarter">
                    <a href="/noauth/views/results-year" style="text-decoration: none;">
                        <div class="w3-container w3-teal w3-padding-16">
                            <div class="w3-left"><i class="bi bi-collection-fill custom-icon"></i></div>
                            <div class="w3-right">
                            <h3><%= eleicoes %></h3>
                            </div>
                            <div class="w3-clear"></div>
                            <h4>Eleições</h4>
                        </div>
                    </a>
                </div>
                <div class="mapadobrasil">
                    <img src="/images/mapa-do-brasil.jpg" class="map-image">
                </div>
            
            </div>
        </div>
           
    </body>
    <script>
        const abrangenciaSelect = document.getElementById('eleicao1[abrangencia]');
        const regiaoSelect = document.getElementById('eleicao1[regiao]');

        abrangenciaSelect.addEventListener('change', async function() {
            const abrangencia = abrangenciaSelect.value;

            const response = await fetch(`/noauth/unidade-eleitoral/${abrangencia}`)
            const data = await response.json()
            regiaoSelect.innerHTML = '';
            data.data.forEach(regiao => {
            const option = document.createElement('option');
            option.value = regiao.id;
            option.textContent = `${regiao.estado} - ${regiao.nome}`;
            regiaoSelect.appendChild(option);
            });
        });

        const abrangenciaSelect2 = document.getElementById('eleicao2[abrangencia]');
        const regiaoSelect2 = document.getElementById('eleicao2[regiao]');

        abrangenciaSelect2.addEventListener('change', async function() {
            const abrangencia = abrangenciaSelect2.value;

            const response = await fetch(`/noauth/unidade-eleitoral/${abrangencia}`)
            const data = await response.json()
            regiaoSelect2.innerHTML = '';
            data.data.forEach(regiao => {
            const option = document.createElement('option');
            option.value = regiao.id;
            option.textContent = `${regiao.estado} - ${regiao.nome}`;
            regiaoSelect2.appendChild(option);
            });
        });
        function showLoader() {
            document.getElementById("loader-container").style.display = "flex";
        }        
        function hideLoader() {
            document.getElementById("loader-container").style.display = "none";
        }        
        document.querySelector("form").addEventListener("submit", function () {
            showLoader();
        });
       
    </script>
</html>