<!DOCTYPE html>
<html>

    <head>
        <title>Busca por Partido</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <style>html,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}</style>
    </head>

    <body class="w3-light-grey">
        <%- include('./header') %>
        <%- include('./navbar') %>
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">
            
             <header class="w3-container" style="padding-top:22px">                
                <h5><b>Busca por Partido:</b></h5>
            </header>
            <div class="w3-container">
                 <div class="loader-container" id="loader-container">
                    <div class="loader" id="loader"></div>
                    <p>Carregando...</p>
                    <p>Isto pode levar alguns minutos.</p>
                </div>               
                <form action="/noauth/party/historic-evolution" method="post">                                                     
                    <label for="partido">
                        <h6><b>Partido:</b></h6> 
                    </label>
                    <select id="partido" name="partido">
                        <option selected>Selecione o partido...</option>
                        <% partidos.forEach(function(row) { %>
                        <option value="<%= row.id %>"><%= `${row.sigla} - ${row.nome}` %></option>
                        <% }); %>
                    </select>
                    <br>
                    
                     
                    

                    <h6><b>Abrangência:</b></h6>                    
                    <select id="abrangencia" name="abrangencia">
                        <option selected value="">todas</option>                                            
                        <option value="MUNICIPAL">MUNICIPAL</option>
                        <option value="FEDERAL">FEDERAL</option>
                        
                    </select>
                    
                    <h6><b>Selecione a variável para comparação:</b></h6>                    
                    <select id="variavel" name="variavel">
                        <option selected>Selecione a variável...</option>
                        <option value="genero">Gênero</option>   
                        <option value="idade">Idade</option>                       
                        <option value="ocupacao">Ocupação</option>
                        <option value="grau_instrucao">Grau de Instrução</option>                     
                        <option value="reeleito">Reeleição</option>
                        <option value="raca">Raça</option>
                        
                    </select>  
                    <br>  
                    <br>
                    <label for="turno"><h6><b>Apenas primeiro turno?</b>                   
                        <input type="checkbox" id="only_first_turn" style="width: 40px;" name="only_first_turn" value=true>
                    </h6>       
                    </label>
                    <br>
                    <button class="w3-button w3-dark-grey" onclick="voltar()"><i class="fa fa-arrow-left"></i> Voltar</button>
                    <button type="submit" class="w3-button w3-dark-grey">Buscar <i class="fa fa-arrow-right"></i></button>
                </form>
            </div>
            <%- include('./footer') %>
        </div>
           
    </body>
    <script>
        function showLoader() {
            document.getElementById("loader-container").style.display = "flex";
        }

        // Função para ocultar o loader-container
        function hideLoader() {
            document.getElementById("loader-container").style.display = "none";
        }

        // Quando o formulário for enviado, mostre o loader
        document.querySelector("form").addEventListener("submit", function () {
            showLoader();
        });
        function voltar() {
            window.history.back();
        }
    </script>
    
</html>