<!DOCTYPE html>
<html>

    <head>
        <title>Resultados por Eleição</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>

        <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
    </head>

    <body class="w3-light-grey">
        <%- include('./header') %>
        <%- include('./navbar') %>
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">
             <header class="w3-container" style="padding-top:22px">
                <h5><b>Resultados por ano:</b></h5>
            </header>
            <div class="w3-container">
                <div class="loader-container" id="loader-container">
                    <div class="loader" id="loader"></div>
                    <p>Carregando...</p>
                    <p>Isto pode levar alguns minutos.</p>
                </div>
                <form action="/noauth/candidate-election/result-year" method="get">
                    <label for="eleicao">Eleição:</label>
                    <br>
                    <select id="eleicao" name="eleicao" required>
                        <option selected>Selecione a Eleição...</option>
                        <% eleicoes.forEach(function(row) { %>
                        <option data-tipo-eleicao=<%=`${row.TIPO_ELEICAO}`%> value="<%= row.id %>"><%= `${row.ano_eleicao} - ${row.turno} Turno`%></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <label for="abrangencia">Abrangência:</label>
                    <br>
                    <select id="abrangencia" name="abrangencia" >
                        <option selected>Abrangência de acordo com a Eleição</option>                        
                    </select>
                    <br>
                    <br>
                    <label for="regiao">Região:</label>
                    <br>
                    <select required id="regiao" name="regiao" placeholder="Selecione uma região..."  data-width="400px" class="selectpicker select" data-show-subtext="true" data-live-search="true">
                        <option disabled>Selecione uma Eleição</option>
                                             
                    </select>
                    <br>
                    <br>
                    <label for="situacao_turno">Situação Turno:</label>
                    <br>
                    <select id="situacao_turno" name="situacao_turno" required>
                        <option selected>Selecione a Situação do Turno...</option>
                        <option value="todos">Todas</option>
                        <option value="todosEleitos">Candidatos Eleitos por qualquer tipo</option>
                        <% situacoes_turno.forEach(function(row) { %>
                        <option value="<%= row.id %>"><%= row.nome %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <label for="cargo">Cargo:</label>
                    <br>
                    <select id="cargo" name="cargo">
                        <option selected>Selecione o Cargo...</option>
                        <option value="todos">Todos os cargos</option>                        
                        <% cargos.forEach(function(row) { %>
                        <option value="<%= row.id %>"><%= row.nome_cargo %></option>
                        <% }); %>
                    </select>                    
                    <br>  
                    <br>  
                    <button class="w3-button w3-dark-grey" onclick="voltar()"><i class="fa fa-arrow-left"></i> Voltar</button>
                    <button type="submit" class="w3-button w3-dark-grey">Buscar <i class="fa fa-arrow-right"></i></button>
                </form>
            </div>
            <%- include('./footer') %>
        </div>
           
    </body>
        <script>
             const eleicaoSelect = document.getElementById("eleicao");
            const abrangenciaSelect = document.getElementById("abrangencia");
            const regiaoSelect = document.getElementById("regiao");

            // Add an event listener to the Eleição dropdown
            eleicaoSelect.addEventListener("change", function () {
                // Get the selected value of Eleição
                const selectedEleicao = eleicaoSelect.value;

                // Find the selectedEleicao in the options and get its TIPO_ELEICAO
                const selectedEleicaoOption = eleicaoSelect.querySelector(`[value="${selectedEleicao}"]`);
                const selectedTipoEleicao = selectedEleicaoOption.getAttribute("data-tipo-eleicao");

                // Set the value and text of the Abrangência dropdown
                abrangenciaSelect.value = selectedTipoEleicao;
                abrangenciaSelect.innerHTML = `<option value="${selectedTipoEleicao}">${selectedTipoEleicao}</option>`;

                while (regiaoSelect.firstChild) {
                    regiaoSelect.removeChild(regiaoSelect.firstChild);
                }

                const ue = <%- JSON.stringify(unidades_eleitorais) %>

                ue.forEach((unidade) => {
                    if (unidade.abrangencia === selectedTipoEleicao) {
                        const option = document.createElement("option");
                        option.value = unidade.id;
                        option.textContent = `${unidade.estado} - ${unidade.nome}`;
                        regiaoSelect.appendChild(option);
                    }
                });
                $("#regiao").selectpicker('render').selectpicker("refresh");
              
            });

            

           
        
            function showLoader() {
                document.getElementById("loader-container").style.display = "flex";
            }        
            function hideLoader() {
                document.getElementById("loader-container").style.display = "none";
            }        
            document.querySelector("form").addEventListener("submit", function () {
                showLoader();
            });

        
            function voltar() {
                //ta caindo no loader o voltar
                window.history.back();
            }


       
    </script>
</html>