<!DOCTYPE html>
<html>

    <head>
        <title>Buscar Candidatos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/css/main.css">
        <style>html,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}</style>
    </head>

    <body class="w3-light-grey">
        <%- include('./header') %>
        <%- include('./navbar') %>
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">
             <header class="w3-container" style="padding-top:22px">
                <h5><b>Resultado da busca por candidato:</b></h5>                
            </header>
            <div class="w3-container">
                <div class="candidato-body">
                    <h6><b>Nome:</b><%= ` ${candidato.nome}` %></h6>
                    <div class="candidato-perfil">                        
                        <div class="candidato-image">
                            <% if(candidato.nome == "LUIZ INÁCIO LULA DA SILVA") { %>
                               <img src="/images/lula.jpg" class="image-container">
                            <%} else {%>
                                <img src="/images/person.jpg" class="image-container">
                            <%}%>
                        </div>
                        <div class="candidato-data">
                            <div><b>Gênero:</b> <%= `${candidato.genero}` %></div>
                            <div><b>Data de Nascimento:</b> <%= `${candidato.data_nascimento}` %></div>
                            <div><b>Idade:</b> <%= `${candidato.idade}` %></div>
                            <div><b>Raça:</b> <%= `${candidato.raca}` %></div>
                            <div><b>Local de Nascimento:</b> <%= `${candidato.local_nascimento}` %></div>
                            <div><b>Grau de Instrução:</b> <%= `${candidato.grau_de_instrucao}` %></div>
                            <div><b>Fidelidade Partidária:</b> <%= `${candidato.fidelidade_partidaria}` %></div>
                            <div><b>Ocupação:</b> <%= `${candidato.ocupacao}` %></div>
                            <div data-toggle="tooltip" data-placement="top" title="Ultima eleição menos a primeira"><b>Tempo de carreira Política:</b> <%= `${candidato.tempo_de_carreira}` %></div>

                            
                        </div>
                    </div>
                    <div class="candidato-table">                        
                        <div class="table-cand">
                            <table class='table-centered table-striped'>
                                <thead>
                                    <tr>
                                        <th>Partido</th>
                                        <th>Eleição</th>
                                        <th>Cargo</th>
                                        <th>Situação do Turno</th>
                                        <th>Unidade Eleitoral</th>
                                        <th>Ocupação</th>
                                        <th>Grau de Instrução</th>
                                        <th>Situação da Candidatura</th>
                                        <th>Ano da Eleição</th>
                                        <th>Situação Reeleição</th>
                                        <th>Idade na Posse</th>
                                        <th>Coligação</th>
                                        <th>Nome na Urna</th>
                                        <th>Despesa de Campanha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% eleicoes.forEach(eleicao => { %>
                                        <tr>
                                            <td><%= eleicao.partido %></td>
                                            <td><%= eleicao.eleicao %></td>
                                            <td><%= eleicao.cargo %></td>
                                            <td><%= eleicao.situacao_turno %></td>
                                            <td><%= eleicao.unidade_eleitoral %></td>
                                            <td><%= eleicao.ocupacao %></td>
                                            <td><%= eleicao.grau_de_instrucao %></td>
                                            <td><%= eleicao.situacao_candidatura %></td>
                                            <td><%= eleicao.ano_eleicao %></td>
                                            <td><%= eleicao.situacao_reeleicao %></td>
                                            <td><%= eleicao.idade_data_da_posse %></td>
                                            <td><%= eleicao.coligacao %></td>
                                            <td><%= eleicao.nome_urna_candidato %></td>
                                            <td><%= eleicao.despesa_campanha %></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               
            </div>
            <button class="w3-button w3-dark-grey" onclick="voltar()"><i class="fa fa-arrow-left"></i> Voltar</button>
            <%- include('./footer') %>
        </div>
           
        <script>
            function voltar() {
                window.location.href = "/noauth/views/search-candidates-form";
            }
        </script>
    </body>
    
</html>